# e.g. 5432
POSTGRES_PORT=""
# Generate with "openssl rand -hex 16"
POSTGRES_PASSWORD=""

# e.g. 3000
WEBAPP_PORT=""
# e.g. postgres://postgres:${POSTGRES_PASSWORD}@db/localmailer?schema=public
DATABASE_URL=""
