services:
  db:
    image: postgres:18
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
      - "2525:2525"
    env_file: db.env
    networks:
      - localmailer_network
    volumes:
      - localmailer-db:/var/lib/postgresql/data

volumes:
  localmailer-db:

networks:
  localmailer_network:
