# e.g. 5432
POSTGRES_PORT=""
# Generate with "openssl rand -hex 16"
POSTGRES_PASSWORD=""

# e.g. 3000
WEBAPP_PORT=""
# e.g. postgres://postgres:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/localmailer
DATABASE_URL=""
# e.g. localhost
NEXT_PUBLIC_SMTP_HOST=""
