services:
  db:
    image: postgres:18
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 3
    env_file: ./db.env
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - localmailer_network

  migrate:
    build:
      context: .
      dockerfile: ./apps/webapp/Dockerfile.migration
      args:
        - DATABASE_URL=${DATABASE_URL}
    env_file: ./webapp.env
    networks:
      - localmailer_network
    depends_on:
      - db

  webapp:
    build:
      context: .
      dockerfile: ./apps/webapp/Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
    env_file: ./webapp.env
    ports:
      - "${WEBAPP_PORT}:3000"
      - "2525:2525"
    networks:
      - localmailer_network
    depends_on:
      - db
      - migrate

networks:
  localmailer_network:
