name: WEBAPP CI/CD

on:
  push:
    paths:
      - "apps/webapp/**"
    branches: [dev, main]
  pull_request:
    paths:
      - "apps/webapp/**"
    branches: [dev, main]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Enable Corepack & Init Pnpm
        run: |
          npx corepack enable pnpm
          npx corepack prepare pnpm@10.25.0 --activate

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma Client
        env:
          # This is here just to satisfy Prisma's need for a DATABASE_URL during generation
          DATABASE_URL: "postgresql://user:password@localhost:5432/localmailer?schema=public"
        run: cd apps/webapp && pnpm prisma:generate:docker

      - name: Build
        run: pnpm dlx turbo run webapp#build

      - name: Lint
        run: pnpm dlx turbo run webapp#lint

      - name: Test
        run: pnpm dlx turbo run webapp#test
